extends dashb_layout

block dashb
    //.content-card
    .content-card
        .chat-wrapper 
            .chat-content
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello
                        .chat-img
                
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello Mahesh
                        .chat-img
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello
                        .chat-img
                
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello Mahesh
                        .chat-img
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa

                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello
                        .chat-img
                
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello Mahesh
                        .chat-img
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa

                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello
                        .chat-img
                
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello Mahesh
                        .chat-img
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa

                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello
                        .chat-img
                
                .chat-row
                    .chat-me(title='Mahesh Ranaweera')
                        .chat-msg
                            | Hello Mahesh
                        .chat-img
                
                .chat-row
                    .chat-other(title='Other Person')
                        .chat-img
                        .chat-msg
                            | asdasd a adsdas  asd asd asd asdas as asdasd a asd asd asd asd as  asd asda s
                            | asd aasd asd adsa das as da asd asd asd as asdas as das d asdas das dsa sa
            .chat-footer
                .chat-footer-3w
                    input.chat-input(type='text')
                .chat-footer-w
                    | Other