.app-menu-transparent
    .app-nav-left
        a(href='/')
            .app-logo
        .app-name
            | HIVE

    .app-nav-right
        a(href='/')
            .app-nav-title
                span(uk-icon='icon: home; ratio:0.8')
                |  HOME 